.note-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.input {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #323232;
  width: 100%;
}

.input-title {
  font-size: 32px;
}

.invalid {
  border: solid 1px red;
  background: rgb(47, 9, 9);
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}

.delete:hover {
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 50%;
}
